<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>Very Secure Bank - Register</title>
        <script src='https://cdn.tailwindcss.com'></script>
    </head>
    <body class="bg-gray-50">
        <div class="max-w-lg mx-auto md:my-24 mt-14 px-4">
            <div class="mt-10">
                <div class="flex items-center space-x-4">
                    <h4 class="font-semibold text-2xl">Very Secure Bank</h4>
                </div>
                <p class="text-gray-500 mt-1">Enter your information to create your account.</p>
            </div>
            {% if messages %}
                <div class="w-full bg-red-600 p-2 mt-4 rounded">
                    {% for message in messages %}
                        <div class="text-white">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                {% for field in register_form %}
                    <div class="mt-4">
                        <label for="{{ field.id_for_label }}" class="font-medium text-gray-600 text-sm">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="mt-4">
                    <button class="w-full text-white font-medium py-2 rounded bg-indigo-500 hover:bg-indigo-600 ease duration-200 focus:outline-indigo-500">Register</button>
                </div>
                <div class="mt-4 text-center">
                    <p class="text-center text-gray-500 text-sm">Already have an account? <a href="{% url 'login' %}" class="text-indigo-500">Login.</a></p>
                </div>
            </form>
        </div>
    </body>
</html>
