{% extends "dashboard/base.html" %}
{% block content %}

    <div class="max-w-6xl mt-8 mx-auto border bg-white rounded shadow">
        <div class="border-b p-2">
            <p>Transactions</p>
        </div>
        <table class="w-full">
            <thead>
                <tr class="">
                    <th class="font-normal p-2">ID</th>
                    <th class="font-normal p-2">Sender</th>
                    <th class="font-normal p-2">Recipient</th>
                    <th class="font-normal p-2">Amount</th>
                    <th class="font-normal p-2">Transaction Date</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in user_transactions %}
                <tr class="border-t hover:bg-gray-50 ease duration-200">
                    <td class="text-center p-2">{{transaction.id}}</td>
                    <td class="text-center p-2">{{transaction.sender_id}}</td>
                    <td class="text-center p-2">{{transaction.receiver_id}}</td>
                    <td class="text-center p-2">{{transaction.amount}}</td>
                    <td class="text-center p-2">{{transaction.timestamp}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}